div.contact-block {
	margin-bottom: 45px;
}

div.contact-block-name {
	font-size: 27px;
	line-height: 36px;
	float: left;
}

div.contact-block-phone {
	font-size: 27px;
	line-height: 36px;
	float: left;
}

div.contact-block-address {
	text-align: right;
	margin-top: -10px;
	float: left;

}

div.map-block {
	margin-bottom: 90px;
}

@media (max-width: 768px) {

	div.contact-block {
		text-align: center;
	}

	div.contact-block-name {
		text-align: center;
		margin-bottom: 18px;
		font-size: 18px;
		font-weight: bold;
	}

	div.contact-block-phone {
		text-align: center;
		margin-bottom: 18px;
		font-size: 18px;
	}

	div.contact-block-address {
		text-align: center;
		margin-bottom: 18px;
		font-size: 18px;
	}
}

@media (min-width: 768px) and (max-width: 992px) {

	div.contact-block-name {
		font-size: 18px;
		line-height: 27px;
	}

	div.contact-block-phone {
		font-size: 18px;
		line-height: 27px;
	}

	div.contact-block-address {
		font-size: 18px;
		line-height: 27px;
	}
}