@font-face {
	font-family: 'Ford Antenna';
	src: url('/fonts/Semibold/FordAntenna-Semibold.eot');
	src: url('/fonts/Semibold/FordAntenna-Semibold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Semibold/FordAntenna-Semibold.woff2') format('woff2'),
		url('/fonts/Semibold/FordAntenna-Semibold.woff') format('woff'),
		url('/fonts/Semibold/FordAntenna-Semibold.ttf') format('truetype'),
		url('/fonts/Semibold/FordAntenna-Semibold.svg#FordAntenna-Semibold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Ford Antenna';
	src: url('/fonts/Regular/FordAntenna-Regular.eot');
	src: url('/fonts/Regular/FordAntenna-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Regular/FordAntenna-Regular.woff2') format('woff2'),
		url('/fonts/Regular/FordAntenna-Regular.woff') format('woff'),
		url('/fonts/Regular/FordAntenna-Regular.ttf') format('truetype'),
		url('/fonts/Regular/FordAntenna-Regular.svg#FordAntenna-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ford Antenna';
	src: url('/fonts/Bold/FordAntenna-Bold.eot');
	src: url('/fonts/Bold/FordAntenna-Bold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Bold/FordAntenna-Bold.woff2') format('woff2'),
		url('/fonts/Bold/FordAntenna-Bold.woff') format('woff'),
		url('/fonts/Bold/FordAntenna-Bold.ttf') format('truetype'),
		url('/fonts/Bold/FordAntenna-Bold.svg#FordAntenna-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Ford Antenna';
	src: url('/fonts/Light/FordAntenna-Light.eot');
	src: url('/fonts/Light/FordAntenna-Light.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Light/FordAntenna-Light.woff2') format('woff2'),
		url('/fonts/Light/FordAntenna-Light.woff') format('woff'),
		url('/fonts/Light/FordAntenna-Light.ttf') format('truetype'),
		url('/fonts/Light/FordAntenna-Light.svg#FordAntenna-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

body {
	font-family: 'Ford Antenna', sans-serif;
	color: #1e1e1e;
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;
}


h1 {
	font-size: 45px;
	font-weight: lighter;
	line-height: 63px;
}

h2 {
	font-size: 45px;
	font-weight: lighter;
	line-height: 63px;
	margin-bottom: 63px;
	margin-top: 0px;
	text-align: center
}

h3 {
	font-size: 27px;
	font-weight: normal;
	margin-top: 20px;
	margin-bottom: 36px;
	line-height: 1.2em;
}

h4 {
	font-size: 27px;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 36px;
}

a {
	color: #1e1e1e
}

a:hover {
	color: #a12426
}

a.order-button {
	font-weight: bold;
	text-decoration: none;
	border-radius: 3px;
	display:block;
	background-color: #941A13;
	color: #fff;
	width: 100%;
	padding: 10px;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 27px;
}

a.order-button:hover {
	text-decoration: none;
	background-color: #1b9e33;
	transition: background-color 0.5s;
}

@media (max-width: 768px) {

	h1 {
		font-size: 36px;
		font-weight: lighter;
		line-height: 45px
	}

	h2 {
		font-size: 27px;
		font-weight: lighter;
		line-height: 36px;
		margin-bottom: 45px;
		margin-top: 0px;
		text-align: center;
	}

	h3 {
		font-size: 18px;
		font-weight: normal;
		margin-bottom: 27px;
		line-height: 1.2em;
	}

	h4 {
		font-size: 18px;
		font-weight: bold;
		letter-spacing: 1px;
		line-height: 27px;
	}
}